#ap {
    -fx-background-color: transparent;

}
#dialogPane{
    -fx-background-color: -fx-application-background-color;
    -fx-effect: dropshadow(gaussian, rgba(94, 94, 99, 0.47), 15, 0.4, 0.0, 0.0);
    -fx-background-radius: 15;

}
