#profileCard{
    -fx-background-color: -fx-application-background-color;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(158, 158, 158, 0.56),5, 0, 0,  0.0);
    -fx-border-color: rgba(128, 128, 128, 0.12);
    -fx-border-radius: 15;
}
#currentProjectCard{
    -fx-background-color: -fx-application-background-color;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(158, 158, 158, 0.56),5, 0, 0,  0.0);
    -fx-border-color: rgba(128, 128, 128, 0.12);
    -fx-border-radius: 15;
}
#lastProjectsCard{
    -fx-background-color: -fx-application-background-color;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(158, 158, 158, 0.56),5, 0, 0,  0.0);
    -fx-border-color: rgba(128, 128, 128, 0.12);
    -fx-border-radius: 15;
}
.info-field{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent rgba(128, 128, 128, 0.25) transparent;
    -fx-text-fill: #cfcfcf;
}
.info-field:focused{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #0281c6 transparent;
}