
.info-field{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent rgba(128, 128, 128, 0.25) transparent;
    -fx-text-fill: #cfcfcf;
}
.info-field:focused{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #0281c6 transparent;
}