* {
    -fx-application-background-color: #16151a;
    -fx-application-popup-background-color:#1b1b21;
    -fx-application-popup-background-border-color:#5e5e63;

    -fx-secondary-text-color:  rgba(255, 255, 255, 0.7);
    -fx-secondary-text-hover-color: rgba(255, 255, 255, 0.87);

    -fx-primary-text-color: white;

    -fx-header-text-color: white;
    -fx-secondary-header-text-color: rgba(255, 255, 255, 0.38);

    -fx-primary-button-color: #0281c6;
    -fx-primary-button-text-color: white;
    -fx-primary-button-hover-color: #018ad5;
    -fx-primary-button-hover-text-color: white;
    -fx-primary-button-pressed-color: #0383ca;
    -fx-primary-button-pressed-text-color: white;

    -fx-primary-cancel-button-color: #ed414b;
    -fx-primary-cancel-button-text-color: white;
    -fx-primary-cancel-button-hover-color: #ec4b55;
    -fx-primary-cancel-button-hover-text-color: white;
    -fx-primary-cancel-button-pressed-color: #ed3742;
    -fx-primary-cancel-button-pressed-text-color: white;

    -fx-secondary-button-color: #2f3137;
    -fx-secondary-button-text-color: white;
    -fx-secondary-button-hover-color: #3b3d45;
    -fx-secondary-button-hover-text-color: white;
    -fx-secondary-button-pressed-color: #3f4148;
    -fx-secondary-button-pressed-text-color: white;

    -fx-information-field-border-color: #a7a4a4;
    -fx-information-field-error-border-color: rgba(255, 43, 43, 0.87);
    -fx-information-field-text-color:rgba(255, 255, 255, 0.78);

    -fx-nav-bar-background-color: #121216;

}
.root {
    -fx-background-color: -fx-application-background-color;
    -fx-background-radius: 15;
}
.disablePane{
    -fx-background-color: rgba(23, 22, 22, 0.65);
    -fx-background-radius: 15;
}
#backgroundImageView{
    -fx-background-color: transparent;
}

.mfx-scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: -fx-application-background-color;
}
.mfx-scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color: #005876;
}
.mfx-scroll-pane .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}
.mfx-scroll-pane .scroll-bar:horizontal .thumb{
    -fx-background-color: transparent;
}

.mfx-date-picker {
    -fx-background-color: transparent;
    -fx-text-fill: #cfcfcf;
}
.mfx-date-picker .icon{
    -mfx-color: grey;
}

.combo-box-ex{
    -fx-background-color: -fx-application-background-color;
    -fx-background-radius: 7;
    -fx-border-color: transparent transparent gray transparent;
    /*-fx-border-radius: 7;*/
    -fx-border-width: 1.2;
}
.combo-box-ex .list-view{
    -fx-background-color: derive(-fx-application-background-color,10%);

}
.combo-box-ex .list-cell{
    -fx-background-color: -fx-application-background-color;
    -fx-alignment: center;
    -fx-text-fill: #b5b5b5;
}
.combo-box-error{
    -fx-background-color: -fx-application-background-color;
    -fx-background-radius: 7;
    -fx-border-color: transparent transparent red transparent;
    /*-fx-border-radius: 7;*/
    -fx-border-width: 1.2;
}
.combo-box-error .list-view{
    -fx-background-color: derive(-fx-application-background-color,10%);

}
.combo-box-error .list-cell{
    -fx-background-color: -fx-application-background-color;
    -fx-alignment: center;
    -fx-text-fill: #b5b5b5;
}
.primaryCancelButton {
    -fx-background-color: -fx-primary-cancel-button-color;
    -fx-text-fill: -fx-primary-cancel-button-text-color;
    -fx-font-size: 13;
}
.primaryCancelButton:hover {
    -fx-background-color: -fx-primary-cancel-button-hover-color;
    -fx-text-fill: -fx-primary-cancel-button-hover-text-color;
    -fx-font-size: 13;
}
.primaryCancelButton:pressed {
    -fx-background-color: -fx-primary-cancel-button-pressed-color;
    -fx-text-fill: -fx-primary-cancel-button-pressed-text-color;
    -fx-font-size: 13;
}
.primaryButton {
    -fx-background-color: -fx-primary-button-color;
    -fx-text-fill: -fx-primary-button-text-color;
    -fx-font-size: 13;
}
.primaryButton:hover {
    -fx-background-color: -fx-primary-button-hover-color;
    -fx-text-fill: -fx-primary-button-hover-text-color;
    -fx-font-size: 13;
}
.primaryButton:pressed {
    -fx-background-color: -fx-primary-button-pressed-color;
    -fx-text-fill: -fx-primary-button-pressed-text-color;
    -fx-font-size: 13;
}

.secondaryButton {
    -fx-background-color: -fx-secondary-button-color;
    -fx-text-fill: -fx-secondary-button-text-color;
    -fx-font-size: 13;
}
.secondaryButton:hover {
    -fx-background-color: -fx-secondary-button-hover-color;
    -fx-text-fill: -fx-secondary-button-hover-text-color;
    -fx-font-size: 13;
}
.secondaryButton:pressed {
    -fx-background-color: -fx-secondary-button-pressed-color;
    -fx-text-fill: -fx-secondary-button-pressed-text-color;
    -fx-font-size: 13;
}

.primaryText{
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 12;
}
.secondaryText{
    -fx-text-fill: -fx-secondary-text-color;
    -fx-font-size: 9;
}
.secondaryHyperText{
    -fx-text-fill: -fx-secondary-text-color;
    -fx-font-size: 9;
    -fx-font-weight: BOLD;
}
.secondaryHyperText:hover{
    -fx-text-fill: -fx-secondary-text-hover-color;
    -fx-underline: true;
    -fx-font-size: 9;
    -fx-font-weight: BOLD;
}
.headerText{
    -fx-text-fill: -fx-header-text-color;
    -fx-font-weight: BOLD;
    -fx-font-size: 18;
}
.secondaryHeaderText{
    -fx-text-fill: -fx-secondary-header-text-color;
    -fx-font-weight: BOLD;
}

.informationTextFields{
    -fx-background-color: transparent;
    -fx-border-color: -fx-information-field-border-color;
    -fx-border-width: 1;
    -fx-border-radius: 7;
    -fx-text-fill: -fx-information-field-text-color;
}
.informationTextFieldsError{
    -fx-background-color: transparent;
    -fx-border-color: -fx-information-field-error-border-color;
    -fx-border-width: 1;
    -fx-border-radius: 7;
    -fx-text-fill: -fx-information-field-text-color;
}
.disabledNode{
    /*-fx-background-color: ;*/
}

/*    <-  Title bar stuff ->   */
#maximizeLabel{
    -fx-background-image: url("../assets/maximizehold.png");
    -fx-background-size: contain;
}
#maximizeLabel:hover{
    -fx-background-image: url("../assets/maximizehover.png");
    -fx-background-size: contain;
}
#minimizeLabel{
    -fx-background-image: url("../assets/minimizehold.png");
    -fx-background-size: contain;
}
#minimizeLabel:hover{
    -fx-background-image: url("../assets/minimizehover.png");
    -fx-background-size: contain;
}
#closeLabel{
    -fx-background-image: url("../assets/closehold.png");
    -fx-background-size: contain;
}
#closeLabel:hover{
    -fx-background-image: url("../assets/closehover.png");
    -fx-background-size: contain;
}

/*     Connection status stuff        */
