
.root {
    -fx-background-color: #141318;
    -fx-background-radius: 15;
}
#imageView{
    -fx-background-color: transparent;
}
#loginPopup{
    -fx-background-color: #1b1b21;
    -fx-border-color: #5e5e63;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(94, 94, 99, 0.47), 15, 0.4, 0.0, 0.0);
}
#welcomebacklable{
    -fx-text-fill: #6e6e72;
}
.primaryText{
    -fx-text-fill: white;
    -fx-font-size: 12;
}
.secondaryText{
    -fx-text-fill: rgba(255, 255, 255, 0.7);
    -fx-fill: rgba(255, 255, 255, 0.7);
    -fx-font-size: 9;
}
.headerText{
    -fx-text-fill: white;
    -fx-font-size: 18;
}
.informationTextFields{
    -fx-background-color: transparent;
    -fx-border-color: #a7a4a4;
    -fx-border-width: 1;
    -fx-border-radius: 7;
    -fx-text-fill: white;
}
#loginButton {
    -fx-background-color: #1453af;
    -fx-text-fill: white;
    -fx-font-size: 13;
}
#maximizeLabel{
    -fx-background-image: url("../assets/maximizehold.png");
    -fx-background-size: contain;
}
#maximizeLabel:hover{
    -fx-background-image: url("../assets/maximizehover.png");
    -fx-background-size: contain;
}
#minimizeLabel{
    -fx-background-image: url("../assets/minimizehold.png");
    -fx-background-size: contain;
}
#minimizeLabel:hover{
    -fx-background-image: url("../assets/minimizehover.png");
    -fx-background-size: contain;
}
#closeLabel{
    -fx-background-image: url("../assets/closehold.png");
    -fx-background-size: contain;
}
#closeLabel:hover{
    -fx-background-image: url("../assets/closehover.png");
    -fx-background-size: contain;
}