#ap{
    -fx-background-color: transparent;
}
#employeePane{
    -fx-background-color: -fx-application-background-color;
    -fx-effect: dropshadow(gaussian, rgba(94, 94, 99, 0.47), 15, 0.4, 0.0, 0.0);
    -fx-background-radius: 15;
}
.maleLabel{
    -fx-background-image: url("../assets/male.png");
    -fx-background-size: cover;
}
.femaleLabel{
     -fx-background-image: url("../assets/female.png");
     -fx-background-size: cover;
 }

