#ap{
    -fx-background-color: transparent;
}
#projectPane{
    -fx-background-color: -fx-application-background-color;
    -fx-effect: dropshadow(gaussian, rgba(94, 94, 99, 0.47), 15, 0.4, 0.0, 0.0);
    -fx-background-radius: 15;
}
.card-pane{
    -fx-background-color: -fx-application-background-color;
    -fx-background-radius: 15;
    -fx-border-color: rgba(128, 128, 128, 0.12);
    -fx-border-width: 2;
    -fx-border-radius: 7;
}
.list-row .label{
    -fx-text-fill: #cfcfcf;
    -fx-alignment: center-left;
    -fx-font-size: 15;
}
.list-row{
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-spacing: 20;
    -fx-padding: 0 10 0 10;
}


.mfx-scroll-pane{
    -fx-background-color: transparent;
    -fx-background-radius: 15;
}



