
#loginPopup{
    -fx-background-color: -fx-application-popup-background-color;
    -fx-border-color: -fx-application-popup-background-border-color;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(94, 94, 99, 0.47), 15, 0.4, 0.0, 0.0);
}

